.container{
    height: 100vh;
}

.notes-container{
    background-color: #f7ecdc;
    height: 65vh;
    overflow: auto;
}
.note-input-container{
    height: 25vh;
    background-color: rgb(214, 214, 214);
    padding: 1rem;
}

.group-header{
    height: 10vh;
    align-items: center;
    display: flex;
    background-color: rgb(214, 214, 214);
    padding: 0.5rem;
}

.note-input-inner-container{
    border: 0.1rem;
    border-radius: 1rem 1rem;
    height: 80%;
}

.note-input{
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    border: none;
}

.note-input:focus{
    outline: none;
}

.send-icon{
    height: 20%;
    cursor: pointer;
    position: absolute;
    left: 96%;
    top: 88%;
}
